:root {
    --background: hsl(0, 0%, 100%);
    --font: "Plein", serif;
    --topbar-background: hsl(0, 0%, 89%);
}

body {
    background-color: var(--background);
}


h1,h2,h3,h4,p,div,button{
    font-family: var(--font);
}

#Topbar {
    height: 7%;
    width: 100%;
    left: 0%;
    top: 0%;
    display: flex;
    position: fixed;
    background-color: var(--topbar-background);
    justify-content: right;
    align-items: center;
    z-index: 999;
}

#Title {
    position: fixed;
    left: 3%;
    font-size: 2vh;
}

#CenterTitle {
    position: sticky;
    font-size: 4vh;
    top: 8%;
}

#CenterContent {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.1s;
}

.TopbarNavigator {
    height: 100%;
    width: 80px;
    background-color: hsla(0, 0%, 0%, 0);
    border: none;
    transition: 0.2s;
}

.TopbarNavigator:hover {
    background-color: hsla(0, 0%, 0%, 0.171);
}

.ItemDisplay {
    height: 20vh;
    aspect-ratio: 192/108;
    background-color: var(--topbar-background);
    display: flex;
    font-size: 3vh;
    margin: 10px;
    border-radius: 2.2vw;
}

.ItemImage {
    width: 100%;
    margin: 10px;
    transition: 0.3s;
    border-radius: 2vw;
}

.ItemImage:hover {
    filter: brightness(70%);
}